[Unit]
Description=Memcached
Before=nginx.service
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/memcached/memcached.conf
ExecStart=/usr/bin/memcached -u $USER -p $PORT -m $CACHESIZE -c $MAXCONN $OPTIONS

[Install]
WantedBy=multi-user.target
